<ion-header>
  <ion-toolbar>
    <ion-title>dataDetails</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <li *ngFor="let jugadoress of jugadores">
    <ion-card routerLink="/home/{{equiposs.id}}">
      <img src="{{jugadoress.foto}}" height="500" width="700"/>
      <ion-card-header>
        <ion-card-title>{{jugadoress.nombre}}</ion-card-title>
      </ion-card-header>
    </ion-card>
  </li>
</ion-content>
