<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      equiposDeportivos
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <li *ngFor="let equiposs of equipos">
    <ion-card routerLink="/details/{{equiposs.id}}">
      <img src="{{equiposs.foto}}"  height="500" width="500"/>
      <ion-card-header>
        <ion-card-subtitle>{{equiposs.nombre}}</ion-card-subtitle>
        <ion-card-title>{{equiposs.ciudad}}</ion-card-title>
      </ion-card-header>
      <ion-card-content>
        Equipos de la liga MX
      </ion-card-content>
    </ion-card>
    
    
  </li>
</ion-content>
